footer.footer 
    .container
        .footer-top 
            .footer-column 
                a(href="index.html").footer-heading.footer-heading--logo MoGo
                p.footer-desc.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio in veritatis nemo voluptate expedita ipsum id consequatur, repellat earum numquam, quaerat iure modi eos molestias doloremque. Incidunt voluptate nulla quis.
                p.footer-follower <strong>15K</strong> followers 
                .footer-social
                    span.text Follow Us:
                    .footer-social-list     
                        a(href="#")
                            i.fab.fa-facebook-f
                        a(href="#")
                            i.fab.fa-twitter
                        a(href="#")
                            i.fab.fa-instagram 
                        a(href="#")
                            i.fab.fa-pinterest-p
                        a(href="#")
                            i.fab.fa-google-plus-g 
                        a(href="#")
                            i.fal.fa-basketball-ball
                        a(href="#")
                            i.fab.fa-tumblr
                form.footer-form(action="javascript:void(0)")
                    input(type="email" placeholder="Your email...").footer-form-input
                    button.footer-form-button Subscribe 
            .footer-column
                h3.footer-heading Blogs
                a(href="#").footer-blog
                    img.footer-blog-image(src="./images/img-blogs1.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-date.text Jan 9, 2021
                a(href="#").footer-blog
                    img.footer-blog-image(src="./images/img-blogs2.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-date.text Jan 9, 2021
                a(href="#").footer-blog
                    img.footer-blog-image(src="./images/img-blogs3.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-date.text Jan 9, 2021
            .footer-column
                h3.footer-heading Instagram
                .footer-images
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1640622660914-4b56c79bb492?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1638913660695-b490171d17c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1647302628084-3dea830eb683?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1586227740560-8cf2732c1531?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1261&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1647331311387-9cca489b53f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1640622657236-e83b28df8e01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1587908628202-db1a9e56f1cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1592231167202-a253c3c2d3fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1647257642015-c6c6b5f3185e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                a(href="#").footer-more.text.text--light View more photos
        .footer-bottom &copy; 2022 MoGo free PSD template by <span>Laaqiq</span>