section.story
    .container
        +blockBox("Our stories","latest blog")
        ul.story-list 
            +storyItem
            +storyItem("./images/img-blog2.png","14","Sed do eiusmod tempor","Porro vel quo quia non id facilis hic magnam. Ad, eligendi adipisci laudantium incidunt similique, eius aliquid molestiae illum velit veritatis tempora?","992","42")
            +storyItem("./images/img-blog3.png","12","incididunt ut labore et dolore","Porro vel quo quia non id facilis hic magnam. Ad, eligendi adipisci laudantium incidunt similique, eius aliquid molestiae illum velit veritatis tempora?","1560","98")

section.map 
    .container
        .map-content
            img.map-icon(src="./images/img-map-icon.png")
            h2.map-heading Open map

