section.team 
    .container 
        +blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .team-list 
            +teamItem("./images/img-team1.png")
                +teamSocial("https://www.facebook.com/profile.php?id=100065182030390")
            +teamItem("./images/img-team2.png","christopher campbell","Branding/UX design")
                +teamSocial
            +teamItem("./images/img-team3.png")
                +teamSocial

section.brand
    .container
        img(src="./images/img-logos.png", alt="brands")