section.work 
    .container
        +blockBox("What we do","some of our work","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .work-grid
            +workItem
            +workItem("./images/img-work3.png")
            +workItem("./images/img-work2.png")
            +workItem("./images/img-work4.png")
            +workItem("./images/img-work5.png","far fa-heart","front-end developer","work-item--full")
            +workItem("./images/img-work6.png")
            +workItem("./images/img-work7.png")
    //- .work-list
    //-     .work-column
    //-         +workItem
    //-         +workItem("./images/img-work3.png")
    //-     .work-column
    //-         +workItem("./images/img-work2.png")
    //-         +workItem("./images/img-work4.png")
    //-     .work-column
    //-         +workItem("./images/img-work5.png","far fa-heart","front-end developer","work-item--full")
    //-     .work-column
    //-         +workItem("./images/img-work6.png")
    //-         +workItem("./images/img-work7.png")

